// out:  ../../dist/css/index.min.css, compress: true, autoprefixer: true

.contenedor{
  width: 700px;
  height: 350px;
  margin: auto;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid grey;
}

.partido{
  width: 80%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
}

.boton{
  margin-top: 40px;
}
